<script src="{{ url_for('admin-assets', path='codemirror/lib/codemirror.js') }}"></script>
<script src="{{ url_for('admin-assets', path='codemirror/mode/javascript/javascript.js') }}"></script>
<script src="{{ url_for('admin-assets', path='codemirror/addon/edit/matchbrackets.js') }}"></script>
<script src="{{ url_for('admin-assets', path='codemirror/addon/edit/closebrackets.js') }}"></script>
<script src="{{ url_for('admin-assets', path='codemirror/addon/fold/foldcode.js') }}"></script>
<script src="{{ url_for('admin-assets', path='codemirror/addon/fold/foldgutter.js') }}"></script>
<script src="{{ url_for('admin-assets', path='codemirror/addon/fold/brace-fold.js') }}"></script>
<script src="{{ url_for('admin-assets', path='json-editor.js') }}"></script>
